html, body {
  padding: 0,0,0,0;
  margin: 0,0,0,0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-width: 98vw;
  min-height: 100vh;
  background: #CDF0EA;
}

.App-link {
  color: #61dafb;
}